<h2>Sign Up for Monday Kisses!</h2>

<form action="/" method="post">

  <form name="input" action="/" method="get">
    Email: <input type="text" name="email">
    <input type="submit" value="Sign Me Up!">
  </form>
</form>



<!--demo_form_action.asp-->